/* style.css */

body {

	padding-top: 5px;
	background-color: grey;

}

#canvas_container {

	width: 720px;
	height: 480px;
	border: solid 5px white;

}

#settings {

	width: 20px;
	margin: 0 auto;
	margin-bottom: 15px;

}